body {
  margin: 0;
  font-family: "Segoe UI";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Container */
#bbts-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

#bbts-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* Sidebar */
#bbts-sidebar {
  width: 75px;
  height: 100%;
  background-color: #027f71;
  padding: 45px 7px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

#bbts-sidebar span {
  background-color: transparent;
  border: none;
  padding: 8px 20px;
  color: white;
}

#bbts-sidebar-open {
  z-index: 999999;
}

#bbts-sidebar-body {
  background-color: #027f71;
  opacity: 85%;
  box-shadow: 0px 3px 6px #00000029;
  padding: 45px 8px;
}

#bbts-sidebar-open ul {
  list-style: none;
  cursor: pointer;
  color: white;
  font-size: 15px;
}

#bbts-list-sidebar {
  padding: 0;
}

#bbts-sidebar-open .bbts-sidebar-menu li {
  margin-bottom: 12px;
  font-weight: bold;
}

#bbts-sidebar-open .bbts-sidebar-menu .menu {
  padding: 10px 12px;
}

#bbts-sidebar-open .bbts-sidebar-menu .menu-active {
  background-color: #fdc300;
}

#bbts-sidebar-open .bbts-sidebar-submenu {
  padding-left: 40px;
}

#bbts-sidebar-open .bbts-sidebar-submenu li {
  width: fit-content;
  margin-bottom: 12px;
  font-weight: 600;
}

#bbts-sidebar-open ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#bbts-home-icon {
  font-size: 20px;
  fill: transparent;
  stroke-width: 1.5px;
  stroke: white;
  opacity: 1;
}

#bbts-bag-icon {
  font-size: 20px;
}

#bbts-arrow-icon {
  font-size: 20px;
  stroke-width: 2px;
}

.bbts-sidebar-submenu .submenu-active {
  color: #fdc300;
}

/* Header */
#bbts-header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 92px;
  padding: 0 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 6px #00000029;
  opacity: 1;
  background-color: white;
  z-index: 9999;
}

#right-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

#right-content button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.content-icons {
  font-size: 24px;
}

#notif {
  position: relative;
}

#badge {
  padding: 4px;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  top: 2px;
  right: 3px;
}

#user {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 100%;
  border: 1px solid #dadada;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#user .user-image {
  font-size: 46px;
  border-radius: 100%;
  background-color: #dadada;
}

#user .menu {
  position: absolute;
  right: 0;
  top: 58px;
  width: 200px;
  height: 200px;
  padding: 12px;
  background: white;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #f5f5f5;
  border-radius: 12px;
  opacity: 1;
}

.menu .user-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  padding-bottom: 21px;
  border-bottom: 1px solid #f3f4f4;
  cursor: default;
}

.menu .user-info .user-bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-bio p {
  margin: 0;
}

#name {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #333333;
}

#job {
  font-size: 12px;
  line-height: 16px;
  color: #818181;
}

#user .menu button {
  padding: 8px 14px;
  font-size: 15px;
  line-height: 20px;
  text-align: start;
  display: flex;
  flex-direction: row;
  gap: 12px;
  color: #4d4d4d;
}

/* Main Content */
.main-container {
  width: 100%;
  padding: 23px 29px;
}

#flow-step {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-size: 11px;
  font-weight: 500;
  line-height: 15px;
}

#flow-step p {
  margin: 0;
  color: #818181;
}

#flow-step .step-active {
  color: #e84d0e;
}

.top-content h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #333333;
  margin: 10px 0;
}

#option-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#option-bar .top-option {
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#option-bar .left-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

#option-bar .left-items .search-form {
  width: 250px;
  height: 34px;
  padding: 2px 4px 2px 12px;
  border: 1px solid #d9dfe7;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
}

#option-bar .left-items .search-form .search-bar {
  width: 100%;
  border: none;
  font-size: 14px;
  padding: 0;
}

#option-bar .left-items .search-form .search-bar:focus {
  outline: none;
}

#option-bar .left-items .search-form .search-bar::placeholder {
  color: #d9dfe7;
}

#option-bar .left-items .search-form .search-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #d9dfe7;
  padding: 0 0 4px 0;
}

#option-bar .option-btn {
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  padding: 0;
}

#option-bar .option-arrow {
  stroke-width: 1.5px;
  -webkit-transition: 0.5s ease;
}

#option-bar .option-arrow-active {
  -webkit-transform: rotateX(180deg);
}

#option-bar .right-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#option-bar .right-items .download-btn,
#option-bar .right-items .print-btn {
  padding: 0;
  width: 35px;
  height: 35px;
  border: none;
  background-color: #5e5e5e;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#option-bar .right-items .download-btn:hover,
#option-bar .right-items .print-btn:hover,
#option-bar .right-items .new-btn:hover {
  box-shadow: 0px 3px 8px #00000069;
}

#tooltip {
  position: relative;
}

#tooltip-download,
#tooltip-print,
#tooltip-create,
#tooltip-edit,
#tooltip-view,
#tooltip-delete {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #818181;
  color: white;
  width: 114px;
  height: 23px;
  border-radius: 4px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5 ease;
}

#tooltip-download::before,
#tooltip-print::before,
#tooltip-create::before,
#tooltip-edit::before,
#tooltip-view::before,
#tooltip-delete::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 4px solid;
  border-color: #818181 #0000 #0000 #0000;
}

#tooltip:hover #tooltip-download,
#tooltip:hover #tooltip-print,
#tooltip:hover #tooltip-create,
#tooltip:hover #tooltip-edit,
#tooltip:hover #tooltip-view,
#tooltip:hover #tooltip-delete {
  top: -90%;
  visibility: visible;
  opacity: 1;
}

#option-bar .right-items .new-btn {
  padding: 0;
  width: 110px;
  height: 35px;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #5e5e5e;
  background-color: #f3c244;
  font-size: 14px;
  text-decoration: none;
  text-decoration-line: none;
}

#option-bar .advanced-option {
  width: 100%;
  height: 120px;
  padding: 14px 16px 14px 32px;
  box-sizing: border-box;
  background-color: #f5f7f9;
  border: 1px solid #c7cdd6d9;
  border-radius: 8px;
  box-shadow: 0px 0px 5px #3c46531a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 0.3 ease;
}

#option-bar .advanced-option h3 {
  font-size: 16px;
  font-weight: 600;
  color: #333333;
}

#option-bar .advanced-option .status-field .status-btn {
  width: 96px;
  height: 36px;
  padding: 0 4px 0 12px;
  font-size: 14px;
  line-height: 19px;
  border-radius: 8px;
  border: 1px solid #d9dfe7;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#option-bar .advanced-option .status-field .status-btn-open {
  border-radius: 8px 8px 0 0;
}

#option-bar .advanced-option .status-field .status-arrow {
  stroke-width: 1.5px;
  -webkit-transition: 0.5s ease;
}

#option-bar .advanced-option .status-field .status-arrow-active {
  -webkit-transform: rotateX(180deg);
}

#option-bar .advanced-option .status-field .status-menu {
  width: 96px;
  height: 64px;
  font-size: 14px;
  line-height: 19px;
  border-radius: 0 0 8px 8px;
  border: 1px solid #d9dfe7;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#option-bar .advanced-option .status-field .status-menu button {
  padding: 4px 4px 4px 12px;
  background-color: transparent;
  border: none;
}

#option-bar .advanced-option .sync-btn {
  width: 36px;
  height: 36px;
  border: none;
  background-color: #5e5e5e;
  border-radius: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#option-bar .advanced-option .sync-btn .sync-icon {
  width: 22px;
  height: 22px;
}

#option-bar .advanced-option .sync-btn:hover {
  box-shadow: 0px 3px 8px #0000004d;
}

/* Table */
#data-table {
  margin-top: 20px;
  width: 100%;
  min-height: 100vh;
}

#table-top-btn {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 20px;
}

#table-top-btn .status-btn,
#table-top-btn .remove-btn {
  width: 142px;
  height: 34px;
  background-color: #027f71;
  border-radius: 6px;
  border: none;
  font-size: 13px;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#table-status-btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 142px;
  height: fit-content;
  padding: 3px;
  border: 1px solid #027f71;
  border-radius: 0 0 6px 6px;
  background-color: white;
}

#table-top-btn .status-btn-open {
  border-radius: 6px 6px 0 0;
}

#table-status-btn button {
  border: none;
  background-color: transparent;
  font-size: 15px;
}

#data-table th {
  font-size: 16px;
  font-weight: 600;
  background-color: #5e5e5e;
  color: white;
}

#data-table .top-left {
  border-radius: 8px 0 0 0;
}
#data-table .top-right {
  text-align: center;
  border-radius: 0 8px 0 0;
}

#data-table tbody {
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}

#data-table td {
  font-size: 15px;
}

#data-table .status,
#data-table .action {
  width: 10%;
}

#data-table .code {
  width: 20%;
}

#data-table .name,
#data-table .desc {
  width: 25%;
}

#data-table .checkbox {
  width: 5%;
  text-align: right;
}

#data-table .checkbox input {
  margin-left: 14px;
}

#data-table .action-btn {
  color: #3e40ae;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#data-table .action-btn button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: #3e40ae;
  font-size: 16px;
}

/* Using React Data Table
.action-btn {
  height: 100%;
  width: 100%;
  color: #3e40ae;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.action-btn button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: #3e40ae;
  font-size: 16px;
} */

#bbts-footer {
  width: 100%;
  height: 68px;
  padding: 20px 29px;
  color: #818181;
}

#app-code {
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  text-align: right;
}

#copyright {
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  text-align: left;
}
